<!DOCTYPE html>
<html>
  <head>
    <title>Demo Webcam App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/cam.css">
  </head>
  <body class="container text-center ">
  	<h1>Got up till here...Still there's a long way to go!!!</h1>

  	<div class="video-wrap">
  		<video id="video" playsinline autoplay></video>
  	</div>

  	<div class="controller">
  		<a class="btn btn-info active" id="snap">Capture</a>
      <a class="pull-right" href="/temp/realsecret">Go to Real Secret!</a>
  	</div>
    <!-- Camera nunchi teesina snaps drawing place -->
  	<canvas id="canvas" width="640" height="480"></canvas>
    <!-- Camera accesing script ra -->
    <script type="text/javascript" src="/cam.js"></script>
  </body>
</html>