<%- include('./partials/header')%>
<div class="jumbotron">
	<h1>This is Prototype-Vunn</h1>
	<p>Great Shit inside!!! Login to see, feel, taste and experience it <i class="fas fa-fighter-jet"></i></p>
</div>
<div class="container">
	<div>
	   <label><h4>Login avvali firstu:</h4></label><a href="/login"> Login</a>
	   <br>
	   <label><h4>Account leka pothe okati create chesi dobbichuko:</h4></label><a href="/signup"> Sign up</a>
	</div>
</div>	
<%- include('./partials/footer')%>