<%- include('./partials/header')%>
<div class="jumbotron">
	<h1>Your Vivid Expressions</h1>
	<p>This is a simple web-based facial expression recognition application. Waste no time!! Try it out now by creating an account<i class="fas fa-fighter-jet"></i></p>
</div>
<div class="container">
	<div>
	   <label><h5>Don't worry we won't steal your data. The only reason we ask you to create an account is to control too much traffic to our poor lil' server :-)</h5></label><a href="/signup"> Sign up</a>
	</div>
</div>	
<%- include('./partials/footer')%>