<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Vivid Expressions</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="classy">
      <center>
        <h1>Your Vivid Expressions</h1>
      </center>
      <p class="phone_text">
      your laptop is laying eggggss aaa bring laptop ra.
      </p>
      <div class="container">
        <div class="info">
          <h2>Real-time Facial Expression Detection using FaceAPI</h2>
          <p>Our project utilizes FaceAPI to detect facial expressions and analyze emotions in real-time. By leveraging deep learning algorithms, the system accurately identifies key features such as eyebrow, lip, and eye movements to classify the detected expression.<br><br> This tool is valuable for various applications, including psychology research, marketing, and user experience optimization. With our project, you can easily track emotions and gain insights into human behavior.</p>
          <button class="btn">
            Allow Camera Access
          </button>
        </div>
        <div class="video_box">
          <img class="accent" src="/assests/accent.svg">
          <video id="video" height="480" width="680" autoplay muted></video>
        </div>
      </div>


      <script defer src="/js/face-api.min.js"></script>
      <script defer src="/js/main.js"></script>
    </div>
  </body>
</html>
