<%- include('./partials/header')%>

<div class="container">
    <div class="row" style="text-align: center;display: block;margin: 35px 35px;">
        <h1>Signup to create your account</h1>
        <p>(More Authentication options on the way...)</p>
    </div>
    <div class="row">    
        <div style="width: 30%; margin: 25px auto;">
            <form action="/signup" method="POST">
                <div class="form-group">
                	<label><strong>Username :</strong></label><br>
                    <input class="form-control" type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                	<label><strong>Password :</strong></label><br>
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <div class="mt-5" style="text-align: center"><a href="/">Go Back to Home</a></div>
        </div>
    </div>
</div>


<%- include('./partials/footer')%>

