@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: #D7EAEA;
  /* background:url("../assests/background2.jpg"); */

/* color:white; */
}
.video_box {
  position: relative;
}
.accent{
  position:absolute;
  bottom:-5rem;
  left:-5rem;
  z-index:-1;
  rotate: -5deg;
  pointer-events:none;
}
.btn{
  padding:.75rem 1rem;
  background-image: linear-gradient(to right bottom, #40cae7, #35a8cc, #3187ae, #2d678e, #27496d);  border:none;
  color:rgb(255, 255, 255);
  font-size:1rem;
  font-weight: 700;
  border-radius: .25em;
  margin-top:1rem;
  cursor:pointer;
}
canvas {
  border: 2px solid hotpink;
  position: absolute;
  top: -2px;
  left: calc(1rem + 2px);
}
.phone_text {
  display: none;
}

#video {
}

.container {
  display: flex;
  margin:1rem 0 0 0;
}

.info{
  padding:1rem 2rem;
  position:relative;
}

.info p{
  text-align: justify;

}

@media screen and (max-width: 1066px) {
  .container {
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 500px) {
  .container {
    display: none;
  }
  .phone_text {
    display: block;
  }
}
